@charset "utf-8";
/* CSS Document */


html {
  position: relative;
  min-height: 100%;
}
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

footer {
	background: #333333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
}

.navbar-brand {
	/* padding: 13px 15px; */
}

/********************************************************/
/****************** Content ******************************/
/********************************************************/
.recipe a {
color: #fff;
}

.dropshadowimg {
  margin: 5px 5px 5px 5px;
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

/********************************************************/
/****************** .sidenav ******************************/
/********************************************************/
.sidenav {

}

.sidenav a {
  display: block;
  padding: 6px 14px 6px 10px;
  text-decoration: none;
  border-bottom: 1px solid #efefef;
  color: black;
}
.sidenav a:hover {
  color: red;
}

/******************************************************/
/**************** Recipe Edit Form ****************/
/*****************************************************/
form.recipeForm {
/*background-color: yellow;*/
}
.recipeForm label {
  display: block;
  margin-top: 10px;
  padding-bottom: 5px;
}
.recipeForm input {
  border: 1px solid #CFECFC;
  font-size: 12px;
  margin: 5px 0;
  padding: 4px 0;
  width: 350px;
}
.recipeForm .buttonControls {
  margin-top: 10px;
}
.editLink {
}
.editLink a {
  text-decoration: none;
  color: #000;
  display: block;
  text-align: right;
  float: right;
}
div#editCategories {
  margin-top: 10px;
}
div#editCategories ul {
  list-style: none outside none;
  padding-left: 10px;
}
div#editCategories label {
  display: inline;
}
div#editCategories input {
  width: 0;
}
/******************************************************/
/**************** Misc ****************/
/*****************************************************/
.error {
  color: red; /* TODO Improve error color. */
}
.clearFloat {
  clear: both;
}
#error404 {
  text-align: center;
}
#error404 p {
  font-size: 1.5em;
}
.anchorButton,
.anchorButton:visited {
  background-color: #FFF;
  padding: 2px 8px;
  background: -moz-linear-gradient(center top , #FFFFFF, #E7E7E7) repeat scroll 0 0 transparent;
  border-radius: 5px;
  border: 1px solid #D2D2D2;
  margin: 0 3px;
  text-decoration: none;
  color: black;
}
.anchorButton:hover {
  color: black;
  background: none repeat scroll 0 0 #E7E7E7;
}
img.loadingImg {
  width: 25px;
  margin: 0;
  box-shadow: none;
  vertical-align: middle;
}
#messageBoxContainer {
  position: fixed;
  top: 1em;
  left: 0;
  right: 0;
  height: 0;
  text-align: center;
  z-index: 10;
}
#messageBox {
  display: inline-block;
  height: 35px;
  background-color: lightyellow;
  color: brown;
  padding-top: 15px;
  font-weight: bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  width: 60%;
  display: none;
}
/*------------------ Social Buttons ------------------*/
.socialContainer {
  height: 30px;
  margin-top: 3px;
}
.socialContainer .socialButtonBox {
  float: left;
  margin-right: 5px;
  min-width: 90px;
}

/***************************************/
            Customized Bootstrap
/**************************************/
.panel-default > .panel-heading-custom {
   /* background-image: none; */

}
.panel-default > .panel-heading-custom {

    /* background: #27ae60;
    color: #fff; */
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

}

/* Large desktop */
@media (min-width: 1200px) {


}
