@charset "utf-8";
/* CSS Document */
* {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
html {
	position: relative;
	min-height: 100%;
	overflow-y: scroll;
}
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	background-color: #eae7d6;
	font-size: 18px;
	color: #000;
}
#wrap{
	display:table;
	width:100%;
}
#header {
	background-color: #eae7d6;
}
footer {
	/* position: absolute;/*
	/* bottom: 0; */
	width: 100%;
	background-color: #082e41;
	color: #fff;
	font-size: 11px;
	padding: 20px;
	margin-top: 20px;
}
.footer{
	display: block;
	display: table-row;
	height:1px;
}
#content .item {
	width: 50%;
	padding: 3px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 1px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.image {
	max-width: 100%;
	margin: 0;
	display: block;
}
recipe h4 {
	font-weight: bold;
}
.thumbnail {border:none;background:transparent;}
.img-shadow {
	margin: 5px 5px 5px 5px;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
#recipeList img {
	max-width: 250px;
	max-height: 188px;
}
.recipe-bg{
	background: #ffffff;
    margin-bottom: -20px;
    padding-bottom: 20px;
}
.image:after {
	clear: both;
}
.btn-primary {
	background-color: #ef525b;
	border: none;
}
.btn-primary a {
	color: #fff;
}
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: rgba(234, 231, 214, 0);
	text-decoration: none;
	background-color: rgba(0,0,0,0.0);
	-webkit-transition: background-color 500ms linear, color 500ms linear;
	-moz-transition: background-color 500ms linear, color 500ms linear;
	-o-transition: background-color 500ms linear, color 500ms linear;
	transition: background-color 500ms linear, color 600ms linear;
}
.overlay .title {
	text-align: center;
	font-size: 25px;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
}
.item:hover .overlay {
	display: block;
	color: rgba(234, 231, 214, 1);
	text-decoration: none;
	background-color: rgba(0,0,0,0.5);
}
.btn-info {
	background-color: #24c2cb;
}
.top-buffer {
	margin-top: 20px;
}
.brand-wrapper {
	width: 87px;
	height: 50px;
}
.navbar-brand {
	padding: 0;
}
/* Keeps body from jumping up when we go to a fixed nav */
#nav-container {
	min-width: 100%;
}
/*************Navbar***************************/
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}
/*****************************/
/******* Modified Navbar *****/
/****************************/

.navbar-default {
	background-color: #ef525b;
	border-color: transparent;
	font-family: Raleway, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
}
.navbar-default .navbar-brand {
	color: #000000;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #082e41;
}
.navbar-default .navbar-text {
	color: #000000;
}
.navbar-default .navbar-nav > li > a {
	color: #000000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #082e41;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #082e41;
	background-color: #da2536;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #082e41;
	background-color: #da2536;
}
.navbar-default .navbar-toggle {
	border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #da2536;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #000000;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #000000;
}
.navbar-default .navbar-link {
	color: #000000;
}
.navbar-default .navbar-link:hover {
	color: #082e41;
}

/*****************************/
/******* Media Queries *****/
/****************************/

/* Extra small devices Phones (<768px)  */
 @media (max-width: 767px) {
#header {
	display: none;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #000000;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #082e41;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #082e41;
	background-color: #da2536;
}
#content .item {
	width: 50%;
}
}
/********sm*******/

@media screen and (min-width:768px) {
#content .item {
	width: 33%;
}
/* Make Navigation Toggle on Desktop Hover */
.dropdown:hover .dropdown-menu {
	display: block;
}
.brand-wrapper img {
	position: absolute;
	top: 0;
	left: -2500px;
	-webkit-transition: all .75s;
	-moz-transition: all .75s;
	transition: all .75s
}
.navbar-fixed-top .brand-wrapper img {
	position: relative;
	top: 0;
	left: 0;
}
}

/* Medium devices Desktops (≥992px) */
@media screen and (min-width: 992px) {
#content .item {
	width: 24%;
}
}

/* Large devices Desktops (≥1200px) */
@media only screen and (min-width : 1200px) {
#content .item {
	width: 20%;
}
}
