body {
	/* For static nav bar and min page height */
	min-height: 2000px;
	padding-top: 70px;
 
}

/* .jumbotron {
	padding-top: 80px;
	background-image: url(../img/jumbotron.jpg);
	background-position: 0% 25%;
	background-size: cover;
	height: 600px;
	background-repeat: no-repeat;
}
.jumbotron h1{
	
}
.jumbotron p{
	
}
.jumbotron-recipe {
	padding-top: 80px;
} */

.custom-nav {
	-webkit-box-shadow: 4px 4px 4px #333;
	-moz-box-shadow: 4px 4px 4px #333;
	box-shadow: 4px 4px 4px #333;
	z-index: 999;
}
@media (max-width: 767px) {
	body{padding-top: 140px;}
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333333;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f2720d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f2720d;
    background-color: #000000;
  }
}



/* Horizontal Step Scroll on iPad or larger */
@media (min-width: 768px) and (max-width: 1024px) {
.step-scroll-container {
/*width: 100%;*/
}
.step-row {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}
.step-container {
	float: none;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
}
}
.step-nav-fixed {
	position: fixed;
	top: 65px;
	z-index: 10;
	width: inherit;
}
.step-container {
	position: relative;
	padding-left: 0;
	padding-right: 0;
}
.step-container .step-number {
	position: absolute;
	top: -20px;
	right: 15px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #ddd;
	color: #000;
	line-height: 50px;
	text-align: center;
	z-index: 5;
}
.step-container .step-number:empty {
	display: none;
}
.step-ingredients {
	padding-left: 0;
}
.step-ingredient-strikethrough {
	text-decoration: line-through;
	font-weight: normal;
	color: grey;
}
/* Home page masonry */
.masonry .row {
	-moz-column-width: 20em;
	-webkit-column-width: 20em;
	-moz-column-gap: 10px;
	-webkit-column-gap: 10px;
}
.masonry .row > .col-lg-3 {
	display: inline-block;
	padding: 0;
	margin: 10px;
	width: 100%;
	float: none;
}
.masonry .recipe-tile {
/*border: 1px solid #ddd;*/
}
.recipe-section{
	background-color:tomato;	
}