// Global

*,
*::before,
*::after {
 box-sizing: border-box;
@include margin(0);
 @include padding(0);
}

body,
html {
 background: $clr-background;
 min-height: 100vh;
 width: 100vw;
}

body {
  font-family: $ff-sans;
  font-weight: $ff-n;
  display: flex;
  flex-flow: column nowrap;
 }

 img {
  width: 100%;
  height: auto;
  display: block;
 }
 
 p {
  color: $clr-text-dark;
 }
 h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: $ff-serif;
 font-weight: $ff-b;
 color: $clr-primary;
 @include  margin(.5em null);
}

h1 {
 font-size: 2.5rem;
}

h2 {
 font-size: 2rem;
}
h3{
 font-size: 1.5rem;
}
h4{
 font-size: 1.25rem;
}
h5 {
 font-size: .8rem;
 font-family: $ff-sans;
 font-weight: $ff-l;
}

 // Default elements

ul,
ol {
  list-style-type: none;
  @include margin(0);
  @include padding(0);
}

dl {
  @include margin(0);

}

dt {
  font-weight: 600;
  @include margin(0);
 
}

dd {
  @include margin(0);
 
}