# Things to ignore

# Development configuration file
config/config.dev.php
migrate.php
*-old/

# Production config
config/config.prod.php

# Ignore Dreamweaver files
*_notes/

# Uploaded files
public/files/

# Log files
logs/*.log

# Twig Cache
twigcache/*

# Hostmonster files
cig-bin/
*.shtml
default.html
500.php
*.xml

# Sandbox file
templates/peri.html
public/peri1.html

# Vendor Git
vendor/.git
