// Default Fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Raleway:300,400,700&display=swap');


// Default Color Scheme

$black: #262626;
$white: #ffffff;
$red: #DA2536;

$light-grey: rgb(234,234,234);
$md-grey: rgb(68,68,68);
$dark-grey: rgb(37, 37, 37);

$clr-primary: $black; 

$clr-accent-light: $light-grey;
$clr-accent-dark: $dark-grey;

$clr-background-light: $white;
$clr-background-dark: $black;

$clr-text-dark: $black;
$clr-text-light: $white; 
$clr-text-accent: $red;

// Default styles
$border-radius: 0px;

$box-shadow-light: 0 1px 5px 1px $light-grey;
$box-shadow-dark: 0 1px 5px 1px rgba($black, .25);

$text-shadow: 0 2px 2px rgba($clr-text-dark, .25);

$outline-light: 1px solid $light-grey;
$outline-medium: 1px solid $md-grey;
$outline-dark: 1px solid $black;

// Fonts
$ff-serif: 'Merriweather', serif; 
$ff-sans: 'Ralesway', sans-serif;

$ff-body: $ff-sans;
$ff-heading: $ff-serif;
$ff-accent: $ff-sans;

$ff-b: 700;
$ff-n: 400;
$ff-l: 300; 

// Break Points

$max-width: 1200px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 900px;

// Button Colors

$btn-default: $clr-primary;
$btn-hover: $clr-accent-light;