// Default Fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Raleway:300,400,700&display=swap');


// Default Color Scheme

$black: rgb(38, 38, 38);
$white: rgb(255,255,255);
$red: rgb(218,37,54);

$light-grey: rgb(234,234,234);
$medium-grey: rgb(134, 133, 133);
$dark-grey: rgb(85, 85, 85);

$clr-primary: $black; 

$clr-accent-light: $light-grey;
$clr-accent-dark: $medium-grey;

$clr-background-light: $white;
$clr-background-dark: $black;
$clr-background-accent: $red;

$clr-text-dark: $black;
$clr-text-light: $white; 
$clr-text-medium: $medium-grey;
$clr-text-accent: $red;

// Default styles
$border-radius: 7px;

$box-shadow-light: 0 1px 5px 1px $light-grey;
$box-shadow-dark: 0 1px 5px 1px rgba($black, .25);
$box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
     0.125em 0.125em 0.25em rgba(0,0,0,.15);


$text-shadow: 0 2px 2px rgba($clr-text-dark, .25);

$outline-light: 1px solid $light-grey;
$outline-medium: 1px solid $medium-grey;
$outline-dark: 1px solid $black;

// Fonts
$ff-serif: 'Merriweather', serif; 
$ff-sans: 'Ralesway', sans-serif;

$ff-body: $ff-sans;
$ff-heading: $ff-serif;
$ff-accent: $ff-sans;

$ff-b: 700;
$ff-n: 400;
$ff-l: 300; 

// Break Points

$max-width: 1200px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 900px;

// Button Colors

$btn-default: $clr-background-dark;
$btn-hover: $clr-background-accent;