{% extends 'layout.html' %}

{% block body %}
<div class="col-md-12">
  <h1 class="page-header">Recipe Dashboard <span class="small">for {{ session('first_name') }}</span></h1>
  <div class="col-md-2">
    <h4 class="page-header">Recipes</h4>
    <ul class="list-unstyled">
      <li><a href="#">Manage Recipes</a></li>
      <li><a href="#">Add New Recipe</a></li>
      <li><a href="#">Manage Comments <span class="badge">1</span></a></li>
    </ul>

    <h4 class="page-header">Blog</h4>
    <ul class="list-unstyled">
      <li><a href="#">All Posts</a></li>
      <li><a href="#">Add Post</a></li>
    </ul>

    <h4 class="page-header">About Me</h4>
    <ul class="list-unstyled">
      <li><a href="#">Add/Edit About Me</a></li>
    </ul>

    <h4 class="page-header">Manage Media</h4>
    <ul class="list-unstyled">
      <li><a href="#">List All Media</a></li>
      <li><a href="#">Add Media</a></li>
    </ul>
  </div>
<!--End left column -->
  <div class="col-md-10"><!-- InstanceBeginEditable name="EditRegion1" -->
    <div class="row">
      <p class="lead">Select an option to the left to manage your information.</p>
    </div>
  </div>
</div>
{% endblock %}