<header>
  <div class="logo" title="Peri's Place For Recipes">
    <a href="{{ siteUrlFor('home') }}">
      <img src="{{ request.basePath }}/assets/img/ppfrLogo.svg" alt="">
    </a>
  </div>
  <button class="nav-toggle" aria-label="toggle navigation">
    <span class="hamburger"></span>
</button>
  <nav class="nav">
    <ul class="nav__list">
      <li class="{% if uriSegment(1) == '' %}active{% endif %} nav__item"><a href="{{ siteUrlFor('home') }}">Home</a></li>
      <li class="{% if uriSegment(1) == 'about' %}active{% endif %} nav__item"><a href="{{ siteUrlFor('about') }}">About Me</a></li>
      <li class="{% if uriSegment(1) == 'blog' %}active{% endif %} nav__item"><a href="{{ siteUrlFor('blogPosts') }}">Blog</a></li>
      <li class="{% if uriSegment(1) == 'recipe' %}active{% endif %} nav__item"><a href="{{ siteUrlFor('recipesAll') }}">All Recipes</a></li>
    </ul>
  </nav>

<div class="search">
<form class="search__form" action="{{ siteUrlFor('recipeSearch') }}" method="get" accept-charset="utf-8">
  <input class="search__input" type="text" placeholder="Find a recipe..." aria-label="Search" id="searchInput" autocomplete="off" name="terms"
  value="{{ recipes.searchTerms }}"/>
  <button class="search__button" type="submit"><i class="fas fa-search"></i></button>
</form>
</div>
</header>