/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Raleway:300,400,700&display=swap");
:root {
  font-size: 14px;
}

@media (min-width: 767px) and (max-width: 900px) {
  :root {
    font-size: calc( 14px + (16 - 14) * ( (100vw - 767px) / ( 900 - 767) ));
  }
}
@media (min-width: 900px) {
  :root {
    font-size: 16px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background: #fff;
  min-height: 100vh;
  width: 100vw;
}

body {
  font-family: "Ralesway", sans-serif;
  font-weight: 400;
  display: flex;
  flex-flow: column nowrap;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

p {
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: #134e6f;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 0.8rem;
  font-family: "Ralesway", sans-serif;
  font-weight: 300;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

.span {
  grid-column: 1/-1;
}

.section-title {
  grid-column: 1/-1;
}

/* Large Top Logo */
.large-logo {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #228bc6;
}
.large-logo img {
  width: 300px;
}

/* navigation styles start here */
header {
  background: #134e6f;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 0.75em 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
header h1 {
  margin: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a {
  color: white;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(173, 216, 230, 0.75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 8px;
}

.nav-toggle-label span::after {
  top: 8px;
}

nav {
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
  background: #228bc6;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a,
.nav-toggle:checked ~ nav .form__search {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* I added this */
.form__search {
  display: flex;
  justify-content: center;
  display: inline-block;
  margin-bottom: 1em;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
}

.form__search input {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: currentColor;
  border: none;
  text-transform: uppercase;
}

.form__search .form-group:hover {
  cursor: pointer;
}

.form__search .form-group {
  background: #efefef;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.form__search input:focus {
  border: none;
  outline: transparent;
}

.form__search button:hover {
  cursor: pointer;
}

.form__search .button__search {
  background: transparent;
  border: none;
  font-size: 100%;
  padding-right: 0.5em;
  padding-left: 0.25em;
  background: #efefef;
}

.form__search .button__search:focus {
  outline: none;
}

@media screen and (min-width: 900px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: minmax(10px, 1fr) auto minmax(750px, 4fr) minmax(10px, 1fr);
  }

  .logo {
    grid-column: 2/3;
  }

  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-bottom: 0;
    margin-left: 3em;
  }

  nav a {
    opacity: 1;
  }

  /* I added this */
  .form__search {
    opacity: 1;
    margin-bottom: 0;
    margin-left: 2em;
  }

  i {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
#feature {
  margin-bottom: 0;
}

.feature__container {
  width: 100%;
  height: 450px;
  position: relative;
  background: linear-gradient(#228bc6, #134e6f);
}
.feature__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.feature__container .feature__content {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
}
.feature__container .feature__title {
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 2.4rem;
  margin-bottom: 0.5em;
}
.feature__container .feature__subtitle {
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 1.4rem;
  margin-bottom: 0.5em;
}

.btn {
  background: #134e6f;
  color: #fff;
  padding: 0.75em 1.5em;
  margin-top: 0.5em;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
  text-decoration: none;
  transition: background 150ms ease-in-out;
}
.btn:hover {
  background: #228bc6;
  color: #000;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

footer {
  background: #228bc6;
  color: #000;
  margin-top: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}
footer h6 {
  color: #000;
  font-family: "Ralesway", sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin: 0;
}
footer .footer-inner {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}
footer a:hover {
  color: #47a547;
}

.recipe-card {
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 7px;
  box-shadow: 0 2px 2px #aaaaaa;
  overflow: hidden;
}
.recipe-card .img-container {
  width: 100%;
  height: 200px;
  min-height: 200px;
  overflow: hidden;
}
.recipe-card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recipe-card .title-container {
  padding: 1em 0.5em 0.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}
.recipe-card .title-container .recipe-title {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  color: #000;
  text-decoration: none;
  align-self: flex-start;
  font-weight: 300;
}
.recipe-card .title-container .recipe-title:hover {
  color: #228bc6;
  font-weight: 400;
}

#categories {
  background: #dee0e6;
  padding-top: 1em;
  padding-bottom: 1em;
}

.categories-list {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.categories-list a {
  background: #134e6f;
  color: #fff;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.25em 0.5em;
  margin: 0.25em;
  border-radius: 7px;
}
.categories-list a:hover {
  color: #000;
  background: #228bc6;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: #dee0e6;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.pagination .disabled a {
  background: transparent;
  color: #000;
  font-size: 1.3rem;
}
.pagination .disabled a:hover {
  color: #000;
  background: transparent;
}
.pagination a {
  padding: 0.5em;
  margin-right: 0.25em;
  margin-left: 0.25em;
  border-radius: 7px;
  background: #134e6f;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.pagination a:hover {
  color: #000;
  background: #228bc6;
  cursor: pointer;
}
.pagination .active a {
  font-weight: 700;
  background: #228bc6;
  color: #fff;
  cursor: default;
}
.pagination .active a:hover {
  color: #000;
  background: #228bc6;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.3em;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.section-inner {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}

#random {
  margin-bottom: 1em;
}

.wrapper {
  background: #dee0e6;
  padding-right: 1.5em;
  padding-left: 1.5em;
  display: grid;
  grid-template-columns: 1fr;
}
.wrapper .content {
  order: 2;
}
.wrapper .content .recipeIngredients {
  background: #fff;
  padding: 0 0.5em;
  margin: 0.75em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}
.wrapper .content .recipeIngredients .ingredients p,
.wrapper .content .recipeIngredients .ingredients li {
  line-height: 1.3;
  margin-bottom: 0.5rem;
}
.wrapper .content .recipeDirections {
  background: #fff;
  padding: 0.5em;
  margin: 0.75em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}
.wrapper .content .recipeDirections .recipetext p,
.wrapper .content .recipeDirections .recipetext li {
  line-height: 1.3;
  margin-bottom: 0.5rem;
}
.wrapper .sidebar {
  order: 1;
}
.wrapper .sidebar .sidebar-item {
  background: #fff;
  padding: 0.5em;
  margin: 0.75em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}
.wrapper .sidebar .recipeCategory {
  padding-top: 1em;
  padding-bottom: 1em;
  display: block;
}
.wrapper .sidebar .recipeCategory .categories-item {
  background: #134e6f;
  color: #fff;
  text-decoration: none;
  padding: 0.25em 0.5em;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.wrapper .sidebar .recipeCategory .categories-item:hover {
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #000;
  background: #228bc6;
}
.wrapper .sidebar .socialContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.wrapper .sidebar .recipeMeta {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5em 1em;
}
.wrapper .sidebar .recipeNotes p {
  line-height: 1.3;
  margin-bottom: 0.5em;
}
.wrapper .sidebar .recipeOwner {
  line-height: 1.3;
  display: block;
}
.wrapper .sidebar .recipeOwner a {
  color: #000;
}

@media screen and (min-width: 900px) {
  .wrapper {
    grid-template-columns: 3fr 1.5fr;
  }
  .wrapper .content {
    order: 1;
  }
  .wrapper .sidebar {
    order: 2;
  }
  .wrapper .recipeCategory {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
