/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
@import url("https://fonts.googleapis.com/css?family=Noto:400,700|Lato:300,400,700&display=swap");
:root {
  --font-family: system-ui, sans-serif;
  --font-family--heading: var(--font-family);
  --font-weight--thin: 100;
  --font-weight--extra-light: 200;
  --font-weight--light: 300;
  --font-weight--normal: 400;
  --font-weight--medium: 500;
  --font-weight--semi-bold: 600;
  --font-weight--bold: 700;
  --font-weight--extra-bold: 800;
  --font-weight--black: 900;
  --line-height: 1.5;
  --line-height--heading: 1.2;
  --border-radius: 0.1875rem;
  --spacing: 1.5rem;
  --spacing--small: 0.75rem;
  --border-width: 0.0625rem;
  --border: var(--border-width) solid currentColor;
  --focus-outline-width: 0.1875rem;
  --focus-outline-offset: 0.125rem;
  --focus-outline: var(--focus-outline-width) solid #1565c0;
  --duration: 150ms;
  --timing: ease;
}

:root {
  --form-box-shadow: inset 0 --border-width 0.1875rem rgba(#000, 0.06);
  --form-box-shadow-focus: var(--form-box-shadow), 0 0 0.3125rem #1565c0;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: var(--spacing--small);
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: var(--spacing--small);
}

input,
select,
textarea {
  display: block;
  font-family: var(--font-family);
  font-size: 1rem;
}

[type=color]:focus,
[type=date]:focus,
[type=datetime]:focus,
[type=datetime-local]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
input:not([type]):focus,
textarea:focus {
  box-shadow: var(--form-box-shadow-focus);
}
[type=color]:disabled,
[type=date]:disabled,
[type=datetime]:disabled,
[type=datetime-local]:disabled,
[type=email]:disabled,
[type=month]:disabled,
[type=number]:disabled,
[type=password]:disabled,
[type=search]:disabled,
[type=tel]:disabled,
[type=text]:disabled,
[type=time]:disabled,
[type=url]:disabled,
[type=week]:disabled,
input:not([type]):disabled,
textarea:disabled {
  cursor: not-allowed;
}
[type=color]:disabled:hover,
[type=date]:disabled:hover,
[type=datetime]:disabled:hover,
[type=datetime-local]:disabled:hover,
[type=email]:disabled:hover,
[type=month]:disabled:hover,
[type=number]:disabled:hover,
[type=password]:disabled:hover,
[type=search]:disabled:hover,
[type=tel]:disabled:hover,
[type=text]:disabled:hover,
[type=time]:disabled:hover,
[type=url]:disabled:hover,
[type=week]:disabled:hover,
input:not([type]):disabled:hover,
textarea:disabled:hover {
  border: var(--border);
}
[type=color]::placeholder,
[type=date]::placeholder,
[type=datetime]::placeholder,
[type=datetime-local]::placeholder,
[type=email]::placeholder,
[type=month]::placeholder,
[type=number]::placeholder,
[type=password]::placeholder,
[type=search]::placeholder,
[type=tel]::placeholder,
[type=text]::placeholder,
[type=time]::placeholder,
[type=url]::placeholder,
[type=week]::placeholder,
input:not([type])::placeholder,
textarea::placeholder {
  color: #333;
  opacity: 0.25;
}

[type=search] {
  -webkit-appearance: textfield;
}

textarea {
  resize: vertical;
}

[type=checkbox],
[type=radio] {
  display: inline;
  margin-right: var(--spacing--small);
}

[type=file] {
  margin-bottom: var(--spacing--small);
  width: 100%;
}

select {
  margin-bottom: var(--spacing--small);
  width: 100%;
}

[type=checkbox]:focus,
[type=radio]:focus,
[type=file]:focus,
select:focus {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  margin: var(--spacing) 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: var(--line-height--heading);
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: var(--border);
}

th {
  font-weight: 600;
}

th,
td {
  padding: var(--spacing--small) var(--spacing--small) var(--spacing--small) 0;
}

:root {
  font-size: 14px;
}

@media (min-width: 767px) and (max-width: 900px) {
  :root {
    font-size: calc( 14px + (18 - 14) * ( (100vw - 767px) / ( 900 - 767) ));
  }
}
@media (min-width: 900px) {
  :root {
    font-size: 18px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background: white;
  min-height: 100vh;
  width: 100vw;
}

body {
  padding-top: 180px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  display: flex;
  flex-flow: column nowrap;
}
@media screen and (min-width: 768px) {
  body {
    padding-top: 190px;
  }
}
@media screen and (min-width: 900px) {
  body {
    padding-top: 140px;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

p {
  color: #262626;
}

p {
  margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-family: "Noto", serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.text_small {
  font-size: 0.8rem;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

.span {
  grid-column: 1/-1;
}

.section-title {
  grid-column: 1/-1;
}

.sidebar-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
}

.underline {
  border: 0;
  height: 1px;
  width: 75%;
  margin: 1em auto;
  background: #868585;
  background-image: linear-gradient(to right, #eaeaea, #868585, #eaeaea);
}

.underline:last-child {
  display: none;
}

figcaption {
  font-weight: 300;
  color: #868585;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

header {
  width: 100%;
  background: white;
  box-shadow: 0 2px 5px 1px rgba(38, 38, 38, 0.25);
  position: fixed;
  z-index: 1;
  top: 0;
}
@media screen and (min-width: 900px) {
  header {
    padding-right: 1em;
    padding-left: 1em;
  }
}
@media screen and (min-width: 900px) {
  header .header-inner {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) max-content;
    grid-template-areas: "logo . nav" "logo . search";
  }
}
header .logo {
  grid-area: logo;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo .logo__img {
  padding: 0.5em;
  z-index: 5;
  width: 275px;
}
header .nav {
  padding-top: 3rem;
  background: white;
  color: #262626;
  z-index: 20;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  position: fixed;
  top: 170px;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}
@media screen and (min-width: 900px) {
  header .nav {
    padding: 0;
    grid-area: nav;
    transform: none;
    position: static;
  }
}
header .nav__list {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
}
@media screen and (min-width: 900px) {
  header .nav__list {
    top: initial;
    bottom: initial;
    left: initial;
    right: initial;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }
}
header .nav__item {
  margin-top: 1em;
  margin-bottom: 1em;
}
@media screen and (min-width: 900px) {
  header .nav__item {
    margin: 0 0 0 3em;
  }
}
header .nav__item a {
  text-decoration: none;
  color: #262626;
  font-size: 1.2rem;
  font-weight: 300;
}
header .nav__item a:hover {
  color: #868585;
}

.nav__active a {
  color: #ffa600 !important;
  pointer-events: none;
}

/* Nav Toggle */
.nav-toggle {
  padding: 1.1em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}
@media screen and (min-width: 900px) {
  .nav-toggle {
    display: none;
  }
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: #262626;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

.search {
  grid-area: search;
  border-radius: 7px;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}
@media screen and (min-width: 900px) {
  .search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
  }
}
.search__form {
  display: flex;
  width: 100%;
}
.search__input, .search__button {
  margin: 0;
  padding: 1em 1.5em;
  border: none;
}
.search__input {
  font-size: 1.3rem;
  padding: 0.25em;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-top-color: #eaeaea;
  border-bottom-color: #eaeaea;
  border-left-color: #eaeaea;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 1px 0 1px 1px;
  flex: 1;
}
.search__input::placeholder {
  color: #ffa600;
  opacity: 0.75;
  transition: opacity 0.25s linear;
}
.search__input:focus::placeholder {
  opacity: 0;
}
.search__button {
  background: #eaeaea;
  color: #262626;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

.feature {
  width: 100%;
  height: 375px;
  position: relative;
  background: linear-gradient(rgba(218, 37, 54, 0.5), rgba(255, 166, 0, 0.5), white);
}
@media screen and (min-width: 768px) {
  .feature {
    width: 95%;
    margin: 0 auto 2em;
  }
}
@media screen and (min-width: 900px) {
  .feature {
    max-width: 1200px;
    box-shadow: 0.25em 0.25em 0.75em rgba(38, 38, 38, 0.25), 0.125em 0.125em 0.25em rgba(38, 38, 38, 0.15);
    border-radius: 7px;
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(375px, 1fr) minmax(300px, 1fr);
  }
}
.feature__image img {
  width: 100%;
  height: 375px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
@media screen and (min-width: 900px) {
  .feature__image img {
    position: unset;
  }
}
.feature__content {
  background-color: rgba(38, 38, 38, 0.2);
  color: white;
  text-shadow: 0 2px 2px rgba(38, 38, 38, 0.25);
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .feature__content {
    background-color: white;
    color: #262626;
  }
}
.feature__title {
  color: white;
  text-shadow: 0 2px 2px rgba(38, 38, 38, 0.25);
  font-size: 2.4rem;
  margin-bottom: 0.5em;
  width: 95%;
}
@media screen and (min-width: 768px) {
  .feature__title {
    width: 75%;
  }
}
@media screen and (min-width: 900px) {
  .feature__title {
    width: unset;
    font-size: 2rem;
    color: #262626;
  }
}
.feature__subtitle {
  color: white;
  text-shadow: 0 2px 2px rgba(38, 38, 38, 0.25);
  font-size: 1.4rem;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 900px) {
  .feature__subtitle {
    color: #262626;
  }
}
.feature__meta {
  display: none;
}
@media screen and (min-width: 900px) {
  .feature__meta {
    border: 1px solid #eaeaea;
    padding: 0.5em;
    border-radius: 7px;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.5rem 1.5em;
    text-align: left;
  }
}

.btn {
  background: #262626;
  color: white;
  padding: 0.25em 0.75em;
  margin-top: 0.5em;
  border-radius: 7px;
  border: 1px solid #262626;
  display: inline-block;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.btn:hover {
  background: #ffa600;
  color: white;
  border: 1px solid #868585;
  cursor: pointer;
}

.btn-link {
  text-decoration: none;
  color: #262626;
  font-weight: 300;
}
.btn-link:hover {
  color: #ffa600;
}

.more-recipes-button {
  position: relative;
}
.more-recipes-button a {
  font-size: 0.9rem;
  position: absolute;
  top: -30px;
  right: 10px;
}

footer {
  background: #344186;
  color: white;
}
@media screen and (min-width: 768px) {
  footer {
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
footer h6 {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin: 0;
}
footer .footer-inner {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a {
  color: white;
  text-decoration: none;
  font-weight: 400;
}
footer a:hover {
  color: #ffa600;
}

.recipe-card {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 7px;
  box-shadow: 0 2px 5px 1px #eaeaea;
  border: 1px solid #eaeaea;
  overflow: hidden;
  transform: scale(1);
  transition: all 0.35s ease-in-out;
}
.recipe-card:hover {
  transform: scale(1.04);
  box-shadow: 0 2px 5px 1px rgba(38, 38, 38, 0.25);
}
.recipe-card__img-container {
  background: linear-gradient(rgba(218, 37, 54, 0.5), rgba(255, 166, 0, 0.5), white);
  width: 100%;
  height: 250px;
  min-height: 250px;
}
.recipe-card__img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recipe-card__title-container {
  padding: 2em 0.5em 0.5em;
  text-align: center;
  display: flex;
  justify-content: center;
}
.recipe-card__recipe-title {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  color: #262626;
  text-decoration: none;
  align-self: flex-start;
  font-weight: 300;
}
.recipe-card__recipe-title:hover {
  color: #ffa600;
}

#categories {
  padding: 0.5em 1em;
  display: flex;
  flex-flow: row wrap;
}
#categories .section-inner {
  padding: 0;
}
#categories .categories-list {
  flex-flow: row wrap;
  background: #eaeaea;
  border-radius: 7px;
}
#categories .categories-list {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#categories .categories-list a {
  font-size: 1.2rem;
  padding: 0.5rem;
  color: #262626;
  text-decoration: none;
}
#categories .categories-list a:hover {
  color: #ffa600;
}

.recipeCategory .categories-list {
  display: flex;
  flex-flow: row wrap;
}
@media screen and (min-width: 768px) {
  .recipeCategory .categories-list {
    flex-flow: column nowrap;
    justify-content: flex-start;
  }
}
.recipeCategory a {
  text-decoration: none;
  padding: 0.25em 0.5em;
  color: #262626;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) and (min-width: 900px) {
  .recipeCategory a {
    font-size: 1rem;
  }
}
.recipeCategory a:hover {
  color: #ffa600;
}

.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}
.pagination .disabled a {
  background: transparent;
  color: #262626;
  font-size: 1.3rem;
  pointer-events: none;
}
.pagination .disabled a:hover {
  color: inherit;
  background: inherit;
}
.pagination a {
  padding: 0.5em;
  margin-right: 0.35em;
  margin-left: 0.35em;
  border-radius: 7px;
  background: #344186;
  text-decoration: none;
  color: white;
}
.pagination a:hover {
  color: #ffa600;
  background: white;
  cursor: pointer;
}
.pagination .active a {
  font-weight: 700;
  background-color: #eaeaea;
  color: #262626;
  cursor: default;
}
.pagination .active a:hover {
  color: #262626;
  background-color: #eaeaea;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5em;
  padding-bottom: 1.5em;
}

.section-inner {
  width: 95%;
  max-width: 1200px;
  padding-right: 1em;
  padding-left: 1em;
  margin: 0 auto;
  background: white;
  border-radius: 7px;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
@media screen and (min-width: 768px) {
  .wrapper {
    width: 95%;
    margin: 0 auto;
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (min-width: 900px) {
  .wrapper {
    max-width: 1200px;
    grid-template-columns: 3fr 1fr;
  }
}
.wrapper .content {
  padding-right: 1em;
  padding-left: 1em;
  display: flex;
  flex-flow: column nowrap;
}
@media screen and (min-width: 768px) {
  .wrapper .content {
    padding: 0;
  }
}
.wrapper .sidebar {
  background: #eaeaea;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1em;
}
@media screen and (min-width: 768px) {
  .wrapper .sidebar {
    flex-flow: column nowrap;
    justify-content: flex-start;
    border-radius: 7px;
  }
}
.wrapper .sidebar .sidebar-item {
  padding: 0.5em;
  background: white;
  margin-bottom: 1em;
  border: 1px solid #eaeaea;
  border-radius: 7px;
}
@media screen and (min-width: 768px) {
  .wrapper .sidebar .sidebar-item {
    width: 100%;
  }
}

.ingredients {
  margin-top: 1em;
  margin-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .ingredients {
    margin-top: 0;
    margin-bottom: 1em;
  }
}
.instructions__items {
  margin-right: 1em;
  margin-left: 1em;
}
.instructions__items p,
.instructions__items li,
.instructions__items div {
  margin-bottom: 0.5rem;
  list-style: decimal;
}
.instructions__items .directions-container {
  width: 100%;
  position: relative;
}
.instructions .directions {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
@media screen and (min-width: 768px) {
  .instructions .directions {
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (min-width: 900px) {
  .instructions .directions {
    grid-template-columns: 1fr 1fr;
  }
}
.instructions .directions__image img {
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0.25em 0.25em 0.75em rgba(38, 38, 38, 0.25), 0.125em 0.125em 0.25em rgba(38, 38, 38, 0.15);
}

.edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipeSocial {
  width: 100%;
  text-align: center;
}
.recipeSocial div {
  display: inline-block;
  margin-right: 0.25em;
}

.recipeMeta {
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem 1.5em;
  text-align: left;
  align-self: flex-start;
}
@media screen and (min-width: 900px) {
  .recipeMeta {
    display: none;
  }
}

.recipeNotes {
  width: 100%;
}
.recipeNotes p {
  line-height: 1.3;
  margin-bottom: 0.5em;
}

.recipeCategory {
  width: 100%;
}

.recipeOwner {
  width: 100%;
}
.recipeOwner a {
  color: #262626;
}
.recipeOwner a:hover {
  color: #ffa600;
}

.blog-card {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #eaeaea;
  box-shadow: 0.25em 0.25em 0.75em rgba(38, 38, 38, 0.25), 0.125em 0.125em 0.25em rgba(38, 38, 38, 0.15);
  border-radius: 7px;
}
.blog-card a {
  text-decoration: none;
}
.blog-card__title {
  padding: 1em;
  background: #eaeaea;
  min-height: 90px;
}
.blog-card__content {
  background: white;
  padding: 1em;
  justify-self: flex-end;
  align-self: flex-end;
  flex: 1;
}
.blog-card__footer {
  background: #eaeaea;
  padding: 1em;
  margin-top: auto;
}

@media screen and (min-width: 900px) {
  .blog:first-of-type {
    margin-top: 2em;
  }
  .blog:last-of-type {
    margin-bottom: 4em;
  }
  .blog__title {
    font-size: 2rem;
    font-weight: 700;
  }
  .blog__title a {
    text-decoration: none;
    color: #262626;
  }
  .blog__title a:hover {
    color: #ffa600;
  }

  .blog-archive {
    padding: 1em;
  }
  .blog-archive__header {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1em;
  }
  .blog-archive__month {
    margin-bottom: 1em;
  }
  .blog-archive__month-title {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .blog-archive__item {
    display: block;
  }
  .blog-archive__item:first-of-type {
    margin-top: 0.5em;
  }
  .blog-archive a {
    text-decoration: none;
    margin-bottom: 0.5em;
    color: #262626;
  }
  .blog-archive a:hover {
    color: #ffa600;
  }
}
.about {
  display: grid;
  gap: 1em;
}
@media screen and (min-width: 900px) {
  .about {
    grid-template-columns: 1fr 1fr;
  }
}
.about p {
  margin-bottom: 1em;
  font-size: 1.2em;
  line-height: 1.4;
}
.about img {
  box-shadow: 0.25em 0.25em 0.75em rgba(38, 38, 38, 0.25), 0.125em 0.125em 0.25em rgba(38, 38, 38, 0.15);
  border-radius: 7px;
}

/*# sourceMappingURL=main.css.map */
