#categories {
 background: $light-grey;
}
.categories-list {
 width: 100%;
 display: flex;
 flex-flow: row wrap;
 justify-content: flex-start;

 a {
  color: $white;
  text-decoration: none;
  background: $clr-accent-light;
  border: solid 1px $clr-accent-light;
  @include padding(.25em .5em);
  @include margin(.25em);
  border-radius: $border-radius;
  // box-shadow: $box-shadow;

  &:hover {
   color: $clr-text;
   background: $clr-primary;
   border: solid 1px rgba($black, .25);
  }

 }
}