#categories {
 background: $medium-grey;
 @include padding(.5em 1em);
}
.categories-list {
 width: 100%;
 display: flex;
 flex-flow: row wrap;
 justify-content: center;
 @include padding(.5em null);

 a {
  background: $btn-default;
  color: $clr-text-light;
  text-decoration: none;
  
  border: $outline-light;
  @include padding(.25em .5em);
  @include margin(.25em);
  border-radius: $border-radius;

  &:hover {
   color: $clr-text-dark;
   background: $btn-hover;
   border: $outline-dark;
  }

 }
}