.feature {
  width: 100%;
  height: 375px;
  position: relative;
  background: linear-gradient($clr-accent-dark, $clr-accent-light);
 
  @media screen and (min-width: 900px) {
    @include margin(0 auto);
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    overflow: hidden;
    @include border-color($clr-accent-dark);
    @include border-width(1px);
    @include border-style(solid);

    display: grid;
    grid-template-columns: minmax(375px, 1fr) minmax(300px, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  &__image {
    img {
      width: 100%;
      height: 375px;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;

      @media screen and (min-width: 900px) {
        position: unset;
      }
    }
  }

  &__content {
    background-color: rgba($clr-background-dark, .15);
    color: $clr-text-light;
    text-shadow: $text-shadow;
    position: relative;
    height: 100%;
    width: 100%;
    @include margin(0 auto);
    @include padding(1em);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media screen and (min-width: 900px) {
      background-color: $clr-background-light;
      background-color: $clr-background-light;
      color: $clr-text-dark;
    }
  }

  &__title {
    color: $clr-text-light;
    text-shadow: $text-shadow;
    font-size: 2.4rem;
    @include margin(null null .5em);

    @media screen and (min-width: 900px) {
      font-size: 2rem;
      color: $clr-text-dark;
    }
  }

  &__subtitle {
    color: $clr-text-light;
    text-shadow: $text-shadow;
    font-size: 1.4rem;
    @include margin(null null .5em);

    @media screen and (min-width: 900px) {
      color: $clr-text-dark;
    }
  }

}