// footer

footer {
 background: $clr-accent-light;
 color: $black;
 @include margin(auto null null);
h6{
 color: $black;
 font-family: $ff-sans;
 font-weight: $ff-l;
 font-size: 1em;
 @include margin(0);
}
 .footer-inner {
  width: 90%;
  max-width: $max-width;
  @include margin(0 auto);
  @include padding(1em);
  color: $black;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }
 a{
  color: $white;
  text-decoration: none;
  font-weight: $ff-n;
  &:hover{
   color: $green;
  }
 }
}