/* navigation styles start here */

header {
  background: $clr-background-light;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  @include padding(.75em 0);
  box-shadow: $box-shadow-light;

  h1 {
    @include margin(0);

  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}


 
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus~.nav-toggle-label {
  outline: none !important;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  @include margin(null 1em null null);
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: $clr-background-dark;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 8px;
}

.nav-toggle-label span::after {
  top: 8px;
}

nav {
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
  background: $clr-background-light;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 250ms ease-in-out;
}

nav ul {
  @include margin(0);
  @include padding(0);
  list-style: none;
}

nav li {
  @include margin(null null 1em);
}

nav a {
  color: $clr-text-dark;
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: $clr-text-accent;
}

.nav-toggle:checked~nav {
  transform: scale(1, 1);
}

.nav-toggle:checked~nav a,
.nav-toggle:checked~nav .form__search {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* I added this */

.form__search {
  display: flex;
  justify-content: center;
  display: inline-block;
  @include margin(null null 1em);
  border-radius: $border-radius;
  overflow: hidden;
  opacity: 0;
}

.form__search input {

  font-family: inherit;
  font-size: 100%;
  @include padding(.5em 1em);

  border: solid 1px $light-grey;
}

.form__search .form-group:hover {
  cursor: pointer;
}

.form__search .form-group {
  background: $clr-background-dark;
   border-radius: $border-radius;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.form__search input:focus {
  border: none;
  outline: transparent;
}

.form__search button:hover {
  cursor: pointer;
}

.form__search .button__search {
  background: transparent;
  border: none;
  font-size: 100%;
  @include padding(null .5em null .25em);
  background: $clr-background;
}

.form__search .button__search:focus {
  outline: none;

}

@media screen and (min-width: 900px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: minmax(10px, 1fr) auto minmax(750px, 4fr) minmax(10px, 1fr);
    background-color: $clr-background;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {

    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
   
    top: initial;
    left: initial;

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ul {
      display: flex;
    } 
    li {
      @include margin(null null 0 3em);
    }
    a {
      color: $clr-text-dark;
      opacity: 1;
      &:hover{
        color: $clr-text-accent;
      }
    }
  
  }


  /* I added this */
  .form__search {
    opacity: 1;
    @include margin(null null 0 2em);

  }

  i {
    font-size: 1.2rem;
    font-weight: bold;
  }
}