.pagination {
 display: flex;
 flex-flow: row nowrap;
 justify-content: center;
 align-items: center;
 background: $light-grey;
 @include margin(auto null);
 @include padding(1em null);

 .disabled {
  a {
   background: transparent;
   color: $clr-text-dark;
   font-size: 1.3rem;

  pointer-events: none;
   &:hover {
    color: inherit;
    background: inherit;
   }
  }
 }  

 a {
 
  @include padding(.5em .5em);
  @include margin(null .35em);
  border-radius: $border-radius;
  background: $clr-primary;
  text-decoration: none;
  color: $clr-text-light;
  &:hover {
   color: $clr-text-accent;
   background: $clr-background-light;
   cursor: pointer;
  }
 }

 .active {
  a {
   font-weight: $ff-b;
   background-color: $light-grey;
   color: $clr-text-dark;
   cursor: default;

   &:hover {
    color: $clr-text-dark;
    background-color: $light-grey;
   }
  }
 }

}