.grid-container {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
 gap: 1.3em;
 width: 100%;
 max-width: $max-width;
 @include margin(0 auto);
 @include padding(1em null);

}
.section-inner {
 width: 90vw;
 max-width: $max-width;
 @include margin(1em auto);
 background: $clr-background;
 border-radius: $border-radius;
 @include padding(1em);
}
