.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;
  width: 100%;
  @include margin(0 auto);

}

.section-inner {
  width: 90vw;
  max-width: $max-width;
  @include margin(1em auto);
  background: $clr-background-light;
  border-radius: $border-radius;
  @include padding(null 1em);
}

// 2 column layout

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  @media screen and (min-width: $breakpoint-tablet) {
    width: 90%;
    @include margin(0 auto);
    @include padding(null null 3em);
    grid-template-columns: 2fr 1fr;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    max-width: $max-width;
  }

  .content {
    @include padding(null 1em);
    display: flex;
    flex-flow: column nowrap;

    @media screen and (min-width: $breakpoint-tablet) {
      @include padding(0);
    }
  }

  // Sidebar Section
  .sidebar {
    background: $clr-background-medium;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @include padding(1em);

    @media screen and (min-width: $breakpoint-tablet) {
      flex-flow: column nowrap;
      justify-content: flex-start;
    }

    .sidebar-item {
      @include padding(.5em);
      background: $clr-background-light;
      @include margin(null null 1em);
      border: $outline-light;
      border-radius: $border-radius;

      @media screen and (min-width: $breakpoint-tablet) {
        width: 100%;
      }
    }
  }
}