.wrapper {
  width: 95%;
  @include margin(0 auto);
  max-width: $max-width;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
 
  .content{
    
  }
  .sidebar{
    background: $light-grey;

    .sidebar-item{
      background: $white;
      @include padding(.5em);
      @include margin(.5em);
      border: $outline-dark;
      border-radius: $border-radius;
    }
  }
}



  /* no grid support? */
@media screen and (min-width: 900px) {
  .sidebar {
    float: right;
    width: 19.1489%;
  }

  .content {
    float: left;
    width: 79.7872%;
  }

  .wrapper {
    margin: 0 auto;
    grid-template-columns: 3fr 1.5fr;
  }

}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */

@supports (display: grid) {
  .wrapper>* {
    width: auto;
    margin: 0;
  }
}