<section id="feature">
  <div class="feature__container">

    {% if recipes.featuredRecipe.main_photo %}
	  <!-- Begin recipe.featuredRecipe.main_photo -->
    <img itemprop="image" src="{{ imageUrl(recipes.featuredRecipe.recipe_id, recipes.featuredRecipe.main_photo) }}"
    alt="Photo of {{ recipes.featuredRecipe.title }}">
    <!-- End .recipes.main_photo -->
    {% endif %}

    <div class="feature__content">
      <h2 class="feature__title">{{ recipes.featuredRecipe.title }}</h2>
      <p class="feature__subtitle">{{ recipes.featuredRecipe.subtitle }}</p>
      <div class="btn"><a href="{{ siteUrlFor('showRecipe', recipes.featuredRecipe.niceUrl) }}">See Recipe</a></div>
    </div>

  </div>
</section>
