<section id="feature">
  <div class="feature__container">

    {% if recipe.main_photo %}
	  <!-- Begin recipe.main_photo -->
    <img itemprop="image" src="{{ imageUrl(recipe.recipe_id, recipe.main_photo) }}"
    alt="Photo of {{ recipe.title }}">
    <!-- End recipe.main_photo -->
    {% endif %}

    <div class="feature__content">
      <h2 class="feature__title">{{ recipe.title }}</h2>
      <p class="feature__subtitle">{{ recipe.subtitle }}</p>
      {% if onHome %}
      <div class="btn"><a href="{{ siteUrlFor('showRecipe', recipe.niceUrl) }}">See Recipe</a></div>
      {% endif %}
    </div>

  </div>
</section>
