{# Pagiation Include #}


  <div class="pagination">
  	{% for p in links %}
  	{% if loop.first %}{# Always start with the "Previous" link #}

      <a href="{{ p.href }}" aria-label="Previous" title="Previous" > <span aria-hidden="true">&laquo;</span></a>

    {% endif %}

    {% if p.link == 'ellipsis' %}{# Include if the link is set to be some sort ellipsis #}
    <div class="disabled"><a>&hellip;</a></div>
    {% endif %}

    {% if not loop.first and not loop.last and p.link != 'ellipsis' %}{# For all other working links #}
    <div {% if currentPage == p.link %}class="active"{% endif %}><a href="{{ p.href }}" >{{ p.link }}</a></div>
    {% endif %}

    {% if loop.last %}{# Always end with the "Next" link #}

      <a href="{{ p.href }}" aria-label="Next" title="Next" >
        <span aria-hidden="true">&raquo;</span>
      </a>

    {% endif %}
    {% endfor %}
  </div>

