{% if not r.main_photo %}
  {% set imageUrl = baseUrl() ~'/assets/img/empty.png' %}
{% else %}
  {% set imageUrl = imageUrl(r.recipe_id, r.main_photo) %}
{% endif %}

    <div class="recipe-card">
      <div class="img-container">
        <a href="{{ siteUrlFor('showRecipe', r.niceUrl) }}">
          <img
            src="{{ imageUrl }}"
            class="img img-responsive"
            alt="Photo of {{ r.title }}"
        /></a>
      </div>
      <div class="title-container">
        <a class="recipe-title" href="{{ siteUrlFor('showRecipe', r.niceUrl) }}" title="{{ r.title }}"> {{ r.title }}</a>
      </div>
    </div>
