{% extends 'layout.html' %}

{% block body %}
<div class="col-md-12">
   <h1 class="page-header">About Me</h1> 
    <div class="row">
  <div class="col-md-5"> <img class="img img-responsive img-shadow"  src="{{ baseUrl() }}/assets/img/peri1.jpg"> </div>
  <!--End col-md-5 image column -->
  <div class="col-md-7">
    <p> Hi there! I’m Peri and I live in Seattle, Washington with my husband Wolf. We moved north from Eugene, Oregon so that Wolf  could become part of this coffee thing, you may have heard of it? If not, go out and read Moby Dick, there is a clue somewhere in there.</p>
    <p>As for me, between trying to keep the cat healthy and obsessing with the local real estate market it seems the days fly by. We've been making the most of our time here, finally. It took three quarters of the year to get here, but we're here and only looking forward to the future. </p>
    <p>I recently graduated from the University of Oregon (Go Ducks!?) I received my Bachelors of Art in Cinema Studies and a minor in Multimedia Digital Arts.  I know, what does that mean, studying cinema? Well, I watched a lot of movies and then wrote about them. What I do with this degree will hopefully become apparent down the road.  Until then, I am just enjoying life.</p>
    <p> This blog is a place that will allow me to combine two of my loves, movies and cooking. Hopefully I’ll be able to create some fun videos that will document some of the things that I enjoy making in the kitchen. I doubt it will be a Julie or Julia kinda thing, but who knows.</p>
    <p>Check out my most popular recipe, the Scotchmallow. I really need to come up with a different name, but for now that's what I got. Inspired by the classic See's candy it has become a required holiday candy that must be made. I'm ok with that as I enjoy making holiday treats.</p>
    <p>I hope you enjoy your visit and please feel free to drop me a comment if you want. I’d love to hear from you. Make sure to check out my recipes links, if you haven’t already, and see what's cooking.</p>
    </div>
  <!--End col-md-7 text block --> 
</div>
</div>


</div>
{% endblock %}