{% extends 'twoCol.html' %}

{% block content %}

 
    {% block blogBody %}

    {% endblock %}


{% endblock %}


{% block sidebar %}
<div class="blog-archive">
  <h5 class="blog-archive__header">Blog Archive</h5>

  {% for month, posts in blogPostNav() %}
  <div class="blog-archive__month">

    <a class="" data-toggle="collapse" href="#collapseMonth-{{ month }}">{{ month|date('F Y') }}</a>
    <div id="collapseMonth-{{ month }}" class="collapse">
      <ul class="">
        {% for post in posts %}
        <li><a href="{{ siteUrlFor('showBlogPost', post.niceUrl()) }}" title="{{ post.title }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
</div>
    

{% endblock %}