{% extends 'blogLayout.html' %}

{% block blogBody %}

          {% for p in posts %}
       
   <article>
              <h2 class="span"><a href="{{ siteUrlFor('showBlogPost', p.niceUrl()) }}">{{ p.title }}</a></h2>
              <p>
                {{ p.content_excerpt }}
                <small><a href="{{ siteUrlFor('showBlogPost', p.niceUrl()) }}">read more&hellip;</a></small>
              </p>
              <h5>{{ p.published_date|date('F j, Y') }}</h5>
   </article>
          
         
          {% else %}
          <h3>No Posts Found</h3>
          {% endfor %}

          {{ pagination() }}

{% endblock %}
