{% extends 'layout.html' %}

{% block body %}
    <div class="col-md-10">
      <h1 class="page-header">Sea Foam or Not Sea Foam</h1>
      <p>Today I made my first cooking video for this blog. The cooking part of the process didn’t really work out so well, but the video was fun to make and I think it merits being posted because honestly I think it was kinda funny, if I say so myself. Anyway, enjoy my failed attempt at making sea foam candy.</p>
      <hr>
      <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe  src="https://www.youtube.com/embed/zPSe1nnE7k8" allowfullscreen></iframe>
      </div>
      <hr>
    </div>
    <!--end col-md-10 left column -->
{% endblock %}
