{% extends 'layout.html' %}


{% block body %}
{% import '_recipeCards.html' as cards %}
{% include "_feature.html" with {'recipe': recipes.featuredRecipe, 'onHome': true} %}

<section id="recent">
  <div class="section-inner">
    <h2>News Recipes</h2>
    {{ cards.recipeCards(recipes.latestRecipes) }}
    <div class="span" id="more-recipes-button">
      <a class="btn" href="{{ siteUrlFor('recipesAll') }}">See More</a>
    </div>
  </div>
  </div>
</section>

<section id="popular">
  <div class="section-inner">
    <h2>Popular Recipes</h2>
    {{ cards.recipeCards(recipes.popularRecipes) }}
    <div class="span" id="more-recipes-button">
      <a class="btn" href="{{ siteUrlFor('recipesPopular') }}">See More</a>
    </div>
  </div>
</section>
<section id="random">
  <div class="section-inner">
    <h2>Random Recipes</h2>
    {{ cards.recipeCards(recipes.randomRecipes) }}
  </div>
</section>
<section id="blog">
  <div class="section-inner">
    <h2>Blog</h2>
    {% for p in recipes.blogPosts %}

    <article>
      <h3 class="span">
        <a href="{{ siteUrlFor('showBlogPost', p.niceUrl) }}">{{ p.title }}</a>
      </h3>
      <p>
        {{ p.content_excerpt }}
       
      </p>
      <small><a href="{{ siteUrlFor('showBlogPost', p.niceUrl) }}">read more&hellip;</a></small>
      <h5>{{ p.published_date|date('F j, Y') }}</h5>
    </article>

    {% else %}

    <h3>No Posts Found</h3>

    {% endfor %}

    <div class="span" id="more-recipes-button">
      <a class="btn" href="{{ siteUrlFor('blogPosts') }}">See More</a>
    </div>

  </div>
</section>

<section id="categories">
  <div class="section-inner">
    {% include '_categories.html' %}
  </div>
</section>

{% endblock %}