<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="riHp25OEWPo6uLT2_apcdfsf16dwHZ-lUj4oWAPH5BY">
  <meta description="{{ recipe.instructions_excerpt|default('A place for friends and family to share recipes.') }}{% if currentPageNumber > 1 %} - Page {{ currentPageNumber }}{% endif %}">
  <script type="text/javascript"> var baseUrl = '{{ baseUrl() }}'</script>

  <title>{% if title %}{{ title }} - {% endif %}Peri&apos;s Recipes{% if currentPageNumber > 1 %} - Page {{ currentPageNumber }}{% endif %}</title>

  <link rel="{{ baseUrl() }}/apple-touch-icon-precomposed" sizes="57x57" href="{{ baseUrl() }}/apple-touch-icon-57x57.png" />
  <link rel="{{ baseUrl() }}/apple-touch-icon-precomposed" sizes="114x114" href="{{ baseUrl() }}/apple-touch-icon-114x114.png" />
  <link rel="{{ baseUrl() }}/apple-touch-icon-precomposed" sizes="72x72" href="{{ baseUrl() }}/apple-touch-icon-72x72.png" />
  <link rel="{{ baseUrl() }}/apple-touch-icon-precomposed" sizes="144x144" href="{{ baseUrl() }}/apple-touch-icon-144x144.png" />
  <link rel="{{ baseUrl() }}/apple-touch-icon-precomposed" sizes="60x60" href="{{ baseUrl() }}/apple-touch-icon-60x60.png" />
  <link rel="{{ baseUrl() }}/apple-touch-icon-precomposed" sizes="120x120" href="{{ baseUrl() }}/apple-touch-icon-120x120.png" />
  <link rel="{{ baseUrl() }}/apple-touch-icon-precomposed" sizes="76x76" href="{{ baseUrl() }}/apple-touch-icon-76x76.png" />
  <link rel="{{ baseUrl() }}/apple-touch-icon-precomposed" sizes="152x152" href="{{ baseUrl() }}/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="{{ baseUrl() }}/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="{{ baseUrl() }}/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="{{ baseUrl() }}/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ baseUrl() }}/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="{{ baseUrl() }}/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="&nbsp;"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="{{ baseUrl() }}/assets/css/style.css" rel="stylesheet" type="text/css" media="screen">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <div id="fb-root"></div>
  <script>
    // Facebook SDK
    window.fbAsyncInit = function() {
      FB.init({
        appId      : {{ config('auth.facebook')['app_id'] }},
        cookie     : true,
        xfbml      : true
      });
    };
    (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
    }(document));
  </script>

<!--Begin Large Logo Container -->
<div class="container-fluid" id="header">
  <a href="{{ siteUrlFor('home') }}"><img src="{{ baseUrl() }}/assets/img/ppfrLogo.png" class="img-responsive center-block" alt="Peri's Place For Recipes"></a>
</div>
<!--End Large Logo Container -->

<!--Begin Navbar -->
<div id="nav-container">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="brand-wrapper hidden-sm">
          <a class="navbar-brand" href="{{ siteUrlFor('home') }}">
            <img src="{{ baseUrl() }}/assets/img/ppfrLogoSmall.png" width="87" height="50" alt="Peri's Place For Recipes" class="img-responsive">
          </a>
        </div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li{% if uriSegment(1) == '' %} class="active"{% endif %}> <a href="{{ siteUrlFor('home') }}">Home</a></li>
          <li{% if uriSegment(1) == 'about' %} class="active"{% endif %}> <a href="{{ siteUrlFor('about') }}">About Me</a></li>
          <li{% if uriSegment(1) == 'blog' %} class="active"{% endif %}> <a href="{{ siteUrlFor('blogPosts') }}">Blog</a></li>
          <li class="dropdown hidden-xs"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <strong class="caret"></strong></a>
            <ul class="dropdown-menu">
              <li><a href="{{ siteUrlFor('recipesAll') }}" title="View all recipes">All</a></li>
              <li class="dropdown-header">Select a category</li>
              {% for cat in categories %}
              <li ><a href="{{ siteUrlFor('recipesByCategory', cat.url) }}" title="View recipes for {{ cat.name }}">{{ cat.name }}</a></li>
              {% endfor %}
            </ul>
            <!-- end dropdown-menu -->
          </li>
        </ul>
        <form action="{{ siteUrlFor('recipeSearch') }}" method="get" accept-charset="utf-8" class="navbar-form navbar-right">
          <div class="form-group" style="display:inline;">
            <div class="input-group">
              <input type="text" name="terms" class="form-control" value="{{ recipes.searchTerms }}" placeholder="Search this site..." id="searchInput" autocomplete="off">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </div>
      </form>
    <!-- end navbar-form -->

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"> <a href="#" class="dropdown-toggle" roll="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {% if session('loggedIn') %}{{ session('first_name') }}{% else %}My Account{% endif %} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% if not session('loggedIn') %}
              <li> <a href="#" id="fb-login-link" rel="nofollow"><span class="glyphicon glyphicon-thumbs-up"></span> Log in w/Facebook</a> </li>
              <li> <a href="#" id="google-login-link" rel="nofollow"><span class="glyphicon glyphicon-plus"></span> Log in w/Google</a> </li>
              {% endif %}
              {% if session('loggedIn') %}
              <li> <a href="{{ siteUrlFor('adminDashboard') }}" rel="nofollow">My Account</a>
              <li> <a href="{{ siteUrlFor('logout') }}"><span class="glyphicon glyphicon-off"></span> Sign out</a> </li>
              {% endif %}
            </ul>
          </li>
        </ul>
        <!-- end nav pull-right -->

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>
<!--End Navbar Container -->

<div class="container">
  <div class="row recipe-bg">
    <!-- End Header Layout -->
    {% block body %}
    {% endblock %}
    <!-- Begin Footer Layout -->

</div><!-- End Row -->
<!--End of Maincontent container -->
    </div>
<footer>
  <div class="container">
    <div class="row">

      {% if uriSegment(1) == "" %}
      <div class="col-sm-7">
        <h6>About Me</h6>
        <p>Around the house growing up food, like most families, was an integral part of our story. At Thanksgiving the stuffing had to be baked in a certain pan. Breakfast always consisted of those goopy rolls (yes the recipe is here) that only our family seemed to know about. We begged our sister to make those cream puffs she seemed to always be able to just whip up. And don't forget the batch of peanut butter cookies that became our version of loaves & fishes.</p>
        <p>There was probably a time when that Betty Crocker cookbook wasn't covered in stains, or the 3x5 cards were actually white, but each and every one of those recipes created so many memories. As we've gotten older (ahem) those memories have become so important. The craving for comfort food can happen at any time.</p>
        <p>With that in mind, I decided to combine my two hobbies, cooking and technology to create my own little corner of the internets that would be a place to store  those wonderful recipes that are the core of those memories. With the help of my ever patient husband, here is Peri's Place for Recipes...and all her friends too!</p>
      </div>
      {% endif %}

      <div class="col-sm-2">
        <h6>Navigation</h6>
        <ul class="list-unstyled">
          <li><a href="{{ baseUrl() }}">Home</a></li>
          <li><a href="{{ siteUrlFor('about') }}">About Us</a></li>
          <li><a href="{{ siteUrlFor('blogPosts') }}">Blog</a></li>
          <li><a href="{{ siteUrlFor('contact') }}">Contact Us</a></li>
        </ul>
      </div>
      <!-- end col-sm-2 -->



      <div class="col-sm-3">
        <h6>Coded by </h6><a href="http://moritzmedia.com">Moritz Media Solutions LLC</a>
        <h6>Copyright &copy; 2012 - {{ 'now'|date('Y') }}<br> Peri&apos;s Place For Recipes</h6>

        </div>
      <!-- end col-sm-2 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->

</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="{{ baseUrl() }}/assets/js/imagesloaded.js"></script>
  <script src="{{ baseUrl() }}/assets/js/jquery.masonry.min.js"></script>
  <script src="{{ baseUrl() }}/assets/js/script.js"></script>

  <script>
    // Google Login
    (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
  </script>

{% if production %}
  <!-- Start of StatCounter Code for Default Guide -->
  <script type="text/javascript">
  var sc_project=8036661;
  var sc_invisible=1;
  var sc_security="dedf5c22";
  </script>
  <script type="text/javascript" src="http://www.statcounter.com/counter/counter.js"></script>
  <noscript>
    <div class="statcounter">
      <a title="free hit counters" href="http://statcounter.com/free-hit-counter/" target="_blank"></a>
    </div>
  </noscript>

    <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33073319-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <script type="text/javascript">
  // Pinterest
  (function(d){
      var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
      p.type = 'text/javascript';
      p.async = true;
      p.src = '//assets.pinterest.com/js/pinit.js';
      f.parentNode.insertBefore(p, f);
  }(document));
  </script>
{% endif %}
</body>
</html>
