<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="riHp25OEWPo6uLT2_apcdfsf16dwHZ-lUj4oWAPH5BY">
  <meta
    description="{{ recipe.instructions_excerpt|default('A place for friends and family to share recipes.') }}{% if currentPageNumber > 1 %} - Page {{ currentPageNumber }}{% endif %}">
  <script type="text/javascript">
    var baseUrl = '{{ baseUrl() }}'
  </script>

  <title>{% if title %}{{ title }} - {% endif %}Peri&apos;s Recipes{% if currentPageNumber > 1 %} - Page
    {{ currentPageNumber }}{% endif %}</title>

  <link rel="stylesheet" href="{{ request.basePath  }}/assets/fonts/css/all.min.css">
  <link href="{{ request.basePath }}/assets/css/main.css" rel="stylesheet" type="text/css" media="screen">

</head>

<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=251905954939842&autoLogAppEvents=1">
  </script>
  <div class="large-logo">
    <img src="{{ request.basePath }}/assets/img/ppfrLogo.png" alt="">
  </div>

  {% include "_nav.html" %}
  
  {% block body %}

  {% endblock %}

  {% include "_footer.html" %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
  <script src="{{ request.basePath }}/assets/js/script.js"></script>

  {% if production %}
  <!-- Default Statcounter code for Perisplaceforrecipes.com -->
  <script type="text/javascript">
    var sc_project = 8036661;
    var sc_invisible = 1;
    var sc_security = "dedf5c22";
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><a title="Web Analytics" href="https://statcounter.com/" target="_blank"><img
          class="statcounter" src="https://c.statcounter.com/8036661/0/dedf5c22/1/" alt="Web Analytics"></a></div>
  </noscript>
  <!-- End of Statcounter Code -->

  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33073319-1']);
    _gaq.push(['_trackPageview']);
    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
      '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {% endif %}
</body>

</html>