{% extends 'layout.html' %}

{% block body %}

    <div class="col-md-10">
      <h2 class="page-header">{{ recipes.category.name }} Recipes</h2>
      <!--Begin Recipe List Panels -->
      <div id="recipeList"  class="row">
      {% for r in recipes.list %}
      {% set recipeUrl = urlFor('showRecipe') ~ '/' ~ r.recipe_id ~ '/' ~ r.url %}
      {% if not r.main_photo %}
      	{% set imageUrl = baseUrl() ~'/assets/img/fillerImg.jpg' %}
      {% else %}
      	{% set imageUrl = imageUrl(r.recipe_id, r.main_photo) %}
      {% endif %}
      
      <div class="col-sm-6 col-md-3">
              <a href="{{ recipeUrl }}">  <div class="thumbnail">  
                
                
                <img src="{{ imageUrl }}" class="img  img-responsive" alt="Photo of {{ r.title }}" width="200">
                  
				<div class="caption text-center"> <h4>{{ r.title }}</h4></a> </div>
                  <!--end caption --> 
                </div>
                <!--end thumbnail --> 
              </div>
              <!--end col-sm-6 col-md-4 -->
      

      {% else %}
        <h3>No Recipes Found</h3>
      {% endfor %}
    
   
    </div><!--End row -->
     {{ pagination() }}
    </div>
    <!--end col-md-10 left column -->

    <div class="col-md-2 hidden-xs hidden-sm">
      <div class="sidenav">
        <h5 class="page-header">Top Five Recipes</h5>
        <ul class="list-unstyled">
          {% for r in topRecipes(5) %}
          <li><a href="{{ siteUrlFor('showRecipe') }}/{{ r.recipeUrl() }}" title="{{ r.sub_title }}">{{ r.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="sidenav">
        <h5 class="page-header">Random Recipe</h5>
        <ul class="list-unstyled">
          {% for r in randomRecipes(5) %}
          <li><a href="{{ siteUrlFor('showRecipe') }}/{{ r.recipeUrl() }}" title="{{ r.sub_title }}">{{ r.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% if production %}
      <div class="sidenav">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:inline-block;width:160px;height:600px"
             data-ad-client="ca-pub-6388989287678352"
             data-ad-slot="1745555829"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      {% endif %}
    </div>
    <!--end col-me-2 right column -->
{% endblock %}
