{% extends 'layout.html' %}

{% block body %}
<div class="col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h2>{{ recipe.title }} <small>{{ recipe.subtitle }}</small></h2>
        </div>
        <!--End panel-heading -->
        <div class="panel-body">

        <div class="socialContainer">
          {% if recipe.main_photo %}
          <div class="socialButtonBox">
            <a href="//www.pinterest.com/pin/create/button/?url={{ currentUrl()|url_encode }}&media={{ imageUrl(recipe.recipe_id, recipe.main_photo)|url_encode }}&description={{ recipe.subtitle|url_encode }}" data-pin-do="buttonPin" data-pin-config="beside"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
          </div>
          {% endif %}
          <div class="socialButtonBox">
            <div class="fb-like" data-href="{{ currentUrl() }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
          </div>
        </div>

          {% if recipe.main_photo %}
          <img itemprop="image" src="{{ imageUrl(recipe.recipe_id, recipe.main_photo) }}" width="320" class="pull-right img-responsive"  alt="Photo of {{ recipe.title }}">
          {% endif %}

          <div class="recipe-meta">
            {% if recipe.servings %}Servings: <span itemprop="recipeYield">{{ recipe.servings }}</span><br>{% endif %}
            {% if recipe.temperature %}Oven Temp: {{ recipe.temperature }}<br>{% endif %}
            {% if recipe.prep_time %}Prep Time: <meta itemprop="prepTime" content="{{ recipe.prep_time_iso}}">{{ recipe.prep_time }}<br>{% endif %}
            {% if recipe.cook_time %}Cook Time: <meta itemprop="cookTime" content="{{ recipe.cook_time_iso}}">{{ recipe.cook_time }}{% endif %}
          </div>
          <!-- .recipe-meta -->
          <h4>Ingredients</h4>
          <div class="ingredients">
            {{ recipe.ingredients|raw }}
          </div>
          <!--end ingredients -->
          <h4>Preparation</h4>
          <div class="recipetext" itemprop="recipeInstructions">
            {{ recipe.instructions|raw }}
          </div>
          <!--end preparation -->
          <h4>Notes</h4>
          <div class="recipetext" itemprop="description">
            {{ recipe.notes|raw }}
          </div>
          <hr>

          <div class="recipeOwner"> Other recipes by <a href="{{ siteUrlFor('recipesByUser') }}/{{ recipe.user_url }}">
            <span itemprop="author">{{ recipe.user_name }}</span></a><br>
            Added on:
            <meta itemprop="datePublished" content="2012-06-23 12:00:00">
            {{ recipe.created_date|date('F j, Y') }}<br>
            Viewed: {{ recipe.view_count }} Times </div>
          <!-- .recipeOwner -->
          <h4>Recipe Categories</h4>
          <div itemprop="recipeCategory">
          {% for c in recipe.categories %}
            <a href="{{ siteUrlFor('recipesByCategory') }}/{{ c.url }}" title="View recipes for {{ c.name }}">{{ c.name }}</a>
          <!--end recipe categories -->
          {% endfor %}
          </div>

        </div>
        <!--end Panel-body -->

      </div>
      <!--End panel panel-success -->
</div>
{% endblock %}