{% extends 'layout.html' %}

{% block body %}

{% include "_feature.html" %}
<div class="two-col">
	<div class="left-col">
	

		<section id="recipeIngredients">
			<div class="section-inner">
				<h4 class="span">Ingredients</h4>
				<div class="ingredients">
					{{ recipe.ingredients|raw }}
				</div>
		</section>

		<section id="recipeDirections">
			<div class="section-inner">
				<h4>Preparation</h4>
				<div class="recipetext" itemprop="recipeInstructions">
					{{ recipe.instructions|raw }}
				</div>
		</section>


	</div>
	<div class="right-col">
		{% include "_social.html" %}
		<section id="recipeMeta">
			<div class="section-inner">

				<div class="recipeMeta">
					<h4 class="span">Quick Info</h4>

					<!-- Begin recipe-meta -->

					{% if recipe.servings %}
					<div>Servings:</div>
					<div itemprop="recipeYield">{{ recipe.servings|raw }}</div>
					{% endif %}

					{% if recipe.temperature %}
					<div>Oven Temp:</div>
					<div>{{ recipe.temperature|raw }}</div>
					{% endif %}

					{% if recipe.prep_time %}
					Prep Time: <span itemprop="prepTime"
						content="{{ recipe.prep_time_iso}}">{{ recipe.prep_time|raw }}</span>{% endif %}
					{% if recipe.cook_time %}
					Cook Time: <span itemprop="cookTime"
						content="{{ recipe.cook_time_iso}}">{{ recipe.cook_time|raw }}</span>{% endif %}
					<!-- .recipe-meta -->
				</div>
			</div>
		</section>
		<section id="recipeRecipeNotes">
			<div class="section-inner">
				{% if recipe.notes %}

				<h4>Notes</h4>
				<div class="recipetext" itemprop="description">
					{{ recipe.notes|raw }}
				</div><!-- end notes -->

				{% endif %}
			</div>
		</section>

			<div class="section-inner">
				<h4>Recipe Categories</h4>
				<div itemprop="recipeCategory">
					<ul class="categories-list">
						{% for c in recipe.categories %}
						<li class="categories-item">
							<a href="{{ siteUrlFor('recipesByCategory', c.url) }}"
								title="View recipes for {{ c.name }}">{{ c.name }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>

	<section id="recipeRecipeStats">
		<div class="section-inner">

			<div class="recipeOwner">
				<div>
					Other recipes by <a
						href="{{ siteUrlFor('recipesByUser', [recipe.created_by, recipe.user_url]) }}"><span
							itemprop="author">{{ recipe.user_name }}</span></a>
				</div>
				<div>
					Added on:
					<meta itemprop="datePublished" content="{{ recipe.published_date }}">
					{{ recipe.published_date|date('F j, Y') }}
				</div>
				<div> Viewed: {{ recipe.view_count|number_format }} Times</di>
				</div><!-- .recipeOwner -->
			</div>

			<div class="admin-buttons">
				{% if authorizedToEditRecipe(recipe) %} | <a class="btn-link"
					href="{{ siteUrlFor('adminEditRecipe') }}/{{recipe.recipe_id }}"
					role="button">Edit</a>{% endif %}
			</div>
		</div>
	</section>

</div>
</div>







{% endblock %}