# Override from parent directory, everything in this directory is web accessible
Allow from all

# Prevent direct directory access, however
Options -Indexes

# Hide sitemap.xml in search results
<Files sitemap.xml>
  Header set X-Robots-Tag "noindex"
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # If a thumbnail is not found then invoke thumbnail maker
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^files\/thumbnails\/.*\.(jpe?g|png) thumb.php [L,NC]

    # Redirect from www subdomain to preferred domain
    RewriteCond %{HTTP_HOST} !^(localhost$) [NC]
    RewriteCond %{HTTP_HOST} ^www [NC]
    RewriteRule ^(.*)$ http://perisplaceforrecipes.com/$1 [L,R=301]

    # Check to see if the user is attempting to access a valid file,
    # such as an image or css document, if this isn't true this sends the
    # request to index.php.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
